* {
  box-sizing: border-box;
  body {
    margin: auto;
  }
  .header {
    background-color: #98c3e8;
    height: 768px;
    width: 1366px;
    margin: 0 auto;
  }
  .container-head {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    margin: 0px auto;
  }
  .logo {
    display: flex;
    position: relative;
  }
  .circle-1 {
    width: 32px;
    height: 32px;
    background-color: #316099;
    border: 2px solid #316099;
    border-radius: 50%;
  }
  .circle-2 {
    width: 32px;
    height: 32px;
    background-color: white;
    border: 2px solid #316099;
    border-radius: 50%;
    color: #316099;
    font-size: 20px;
    text-align: center;
    line-height: 28px;
    position: absolute;
    left: 50%;
  }
  .menu div {
    width: 24px;
    height: 3px;
    background-color: #356ead;
    margin: 4px 0;
  }
  .container-down {
    display: flex;
    padding-left: 212px;
    padding-top: 110px;
    position: relative;
    width: 1366px;
    margin: 0 auto;
  }
  .left {
    width: 510px;
    height: 390px;
  }
  .text-1 {
    font-family: "Roboto", sans-serif;
    font-size: 56px;
    color: #1f3f68;
  }
  .text-2 {
    font-size: 16px;
    color: #1f3f68;
    opacity: 60%;
    padding-top: 40px;
    padding-bottom: 70px;
    width: 425px;
    letter-spacing: 1px;
  }
  .left button {
    width: 220px;
    height: 56px;
    background-color: #5a98d0;
    border: 1px solid #5a98d0;
    border-radius: 10px;
    font-size: 16px;
    color: white;
  }
  .right {
    background-image: url("images/illustration.png");
    width: 687.25px;
    height: 579.31px;
    position: absolute;
    top: 10%;
    right: 2%;
  }
}
